@font-face {
  font-family: "my font";
  src: url(/font/微軟正黑體-1.ttf);
  /* 用@font-face設定，再把 "my font" 加進font-family的第一順位*/
}

$themColor: aqua;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "my font", DFkai-sb, sans-serif;
  /*DFkai-sb標楷體，電腦若沒有標楷體，會顯示sans-serif字體  */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  img.img-fix {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -5;
    bottom: 0;
    left: 0;
    // 固定圖片在網頁的最下方
  }
  nav {
    background-color: #d3ceac;
    text-align: center;
    padding: 1rem;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    h2 {
      color: chocolate;
      font-weight: bold;
      font-size: 2.2rem;
    }
  }
  main {
    section.section-one {
      display: block;
      flex-wrap: wrap;
      width: 700px;
      position: relative;
      left: 50%;
      transform: translate(-50%);

      div.question {
        justify-content: center;
        align-items: center;
        margin-top: 1.2rem;
        padding: 1rem;
        background-color: $themColor;
        // border: 3px solid red;
        h2 {
          text-align: center;
          font-size: 22px;
        }
      }
      div.answer {
        display: flex;
        flex: 2 1 400px;
        align-items: center;
        p {
          padding: 1rem;
          font-size: 18px;
          line-height: 1.7rem;
        }
        img {
          flex-basis: 100px;
          width: 20vh;
          // border: 3px solid green;
          border-radius: 90%;
          margin-top: 1rem;
          right: 10px;
        }
      }
    }
  }

  footer {
    div.about-me {
      background-color: #ece3d5;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      #button {
        margin-left: 1rem;
        background-color: chocolate;
        width: 25vh;
        border-radius: 10%;
        padding: 0.5rem;
        margin: 0.5rem;
        p {
          font-size: 1.4rem;
          font-weight: bold;
        }
        &:hover {
          border: 3px solid $themColor;
          // 滑鼠游標移過去時，會有邊框的效果
          cursor: pointer;
        }
      }
    }
  }
}

// RWD
@media screen and (max-width: 700px) {
  body {
    header {
      .img-fix {
        position: fixed;
        height: 100%;
        left: 0;
        bottom: 0;
      }
      nav {
        width: 380px;
      }
    }
    main {
      section.section-one {
        width: 360px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        div.question {
          font-size: 0.8rem;
          div.answer {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}
